### Exercise

### Exercise 1: Identify Suspicious Email Domains
- Find the top 5 most frequent email domains in fraudulent transactions.
- Write a function to flag transactions from less common domains.

- **Topics:** String manipulation, Pandas DataFrames, Aggregation
- **Resources:**
  - [Pandas String Methods](https://pandas.pydata.org/docs/user_guide/text.html)
  - [Regular Expressions in Python](https://docs.python.org/3/library/re.html)
  - [Finding Frequent Elements in Pandas](https://towardsdatascience.com/finding-the-most-frequent-elements-in-a-pandas-dataframe-b29d01fe43cf)

In [76]:
import pandas as pd
import re

##Exercice 1 use the dateset CC_FRAUD.csv

df_1 = pd.read_csv("CC_FRAUD.csv")

##Find the 5 most 5 email domain

df_2 = df_1.groupby("DOMAIN").size().sort_values(ascending=False).head(5)

print(df_2)

##Function to flag the less common domain

def less_common(x):
    if x!="TMA.COM" and x!="XOSOP.COM" and x!="VUHZRNB.COM" and x!="TCN.COM" and x!="NEKSXUK.NET":
        return "high"
    else:
        return "low"

df_1["SECURITY"] = df_1["DOMAIN"].apply(lambda x:less_common(x))

df_1["SECURITY"]

DOMAIN
TMA.COM        16451
XOSOP.COM      15814
VUHZRNB.COM    11544
TCN.COM         4029
NEKSXUK.NET     3918
dtype: int64

0        high
1         low
2         low
3         low
4         low
         ...
94677     low
94678    high
94679     low
94680     low
94681     low
Name: SECURITY, Length: 94682, dtype: object

### Exercise 2: Regular Expressions for Data Validation
- Validate that email addresses in the dataset are correctly formatted.
- Identify and extract all numeric values appearing in descriptions.

- **Topics:** Regex for validation, extracting numerical data, pattern matching
- **Resources:**
  - [Python Regular Expressions Official Docs](https://docs.python.org/3/library/re.html)
  - [Regex101 - Online Regex Tester](https://regex101.com/) (for testing expressions)
  - [Validating Email Addresses with Regex](https://www.geeksforgeeks.org/check-if-email-address-valid-or-not-in-python/)
  - [Extracting Numbers from Text in Python](https://www.datacamp.com/tutorial/python-regular-expression-tutorial)

In [77]:
import pandas as pd

#Exercice 2 use theses datasets:bank_transactions_data_2 AND fraud_detection_dataset.csv
#Validate the e-mail address

df_3 = pd.read_csv("fraud_detection_dataset.csv")

def isValide(email):
    pattern = r"^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
    #email = "user@example.com"
    return "Valid" if re.match(pattern, email) else "Invalid"

df_3["Email_validation"] = df_3["Customer_Email"].apply(isValide)

df_3[["Email_validation","Customer_Email"]].head()

  Email_validation               Customer_Email
0            Valid         amygreen@example.com
1            Valid   nicoleferguson@example.net
2            Valid  fergusonmatthew@example.net
3            Valid  williamsshirley@example.com
4            Valid     bondmitchell@example.org

In [78]:
#Extract all numeric values from account ID

df_4 = pd.read_csv("bank_transactions_data_2.csv")

def isNumeric(ID):
    pattern = r"\d+"
    a = re.findall(pattern,ID)
    return a

df_4["AccountID(only number)"] = df_4["AccountID"].apply(isNumeric)

df_4[["AccountID","AccountID(only number)"]]

     AccountID AccountID(only number)
0      AC00128                [00128]
1      AC00455                [00455]
2      AC00019                [00019]
3      AC00070                [00070]
4      AC00411                [00411]
...        ...                    ...
2507   AC00297                [00297]
2508   AC00322                [00322]
2509   AC00095                [00095]
2510   AC00118                [00118]
2511   AC00009                [00009]

[2512 rows x 2 columns]

### Exercise 3: Optimize the Algorithm
- Improve fraud detection by incorporating past customer transaction history.
- Implement an efficient way to flag repeated transactions within a short period.

- **Topics:** Algorithm optimization, time complexity, transaction analysis
- **Resources:**
  - [Python Performance Optimization](https://realpython.com/python-performance/)
  - [Big-O Notation for Algorithm Complexity](https://www.geeksforgeeks.org/analysis-of-algorithms-big-o-analysis/)
  - [Efficient Transaction Processing Techniques](https://www.kaggle.com/learn/data-cleaning)

In [79]:
# Exercise 3 use dataset Bank_Transaction_Fraud_Detection.csv

df_5 = pd.read_csv("Bank_Transaction_Fraud_Detection.csv")
df_5.head()

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Transaction_Currency,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,23-01-2025,...,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,INR,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,11-01-2025,...,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,INR,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com
2,3a73a0e5-d4da-45aa-85f3-528413900a35,Ekani Nazareth,Male,20,Bihar,Bhagalpur,Bhagalpur Branch,Savings,e41c55f9-c016-4ff3-872b-cae72467c75c,25-01-2025,...,Groceries,66817.99,ATM,"Bhagalpur, Bihar",Desktop,0,INR,+9197745XXXXXX,Mutual fund investment,ekaniXXX@XXXXXX.com
3,7902f4ef-9050-4a79-857d-9c2ea3181940,Yamini Ramachandran,Female,57,Tamil Nadu,Chennai,Chennai Branch,Business,7f7ee11b-ff2c-45a3-802a-49bc47c02ecb,19-01-2025,...,Entertainment,58177.08,POS Mobile App,"Chennai, Tamil Nadu",Mobile,0,INR,+9195889XXXXXX,Food delivery,yaminiXXXXX@XXXXXXX.com
4,3a4bba70-d9a9-4c5f-8b92-1735fd8c19e9,Kritika Rege,Female,43,Punjab,Amritsar,Amritsar Branch,Savings,f8e6ac6f-81a1-4985-bf12-f60967d852ef,30-01-2025,...,Entertainment,16108.56,Virtual Card,"Amritsar, Punjab",Mobile,0,INR,+9195316XXXXXX,Debt repayment,kritikaXXXX@XXXXXX.com

In [83]:
from datetime import datetime

df_5["Transfered_date"] = df_5["Transaction_Date"].apply(lambda x: datetime.strptime(x,"%d-%m-%Y"))
df_5[["Transfered_date","Transaction_Date"]].head()

  Transfered_date Transaction_Date
0      2025-01-23       23-01-2025
1      2025-01-11       11-01-2025
2      2025-01-25       25-01-2025
3      2025-01-19       19-01-2025
4      2025-01-30       30-01-2025

In [84]:
df_5["Transaction_times"] = df_5.groupby("Customer_Name")["Customer_Name"].transform("count")
df_5[["Customer_Name","Transaction_times"]].head()

         Customer_Name  Transaction_times
0           Osha Tella                  2
1      Hredhaan Khosla                  1
2       Ekani Nazareth                  1
3  Yamini Ramachandran                  4
4         Kritika Rege                  2

In [85]:
df_5_transfer = df_5[df_5["Transaction_times"]>1].groupby(["Customer_Name","Transfered_date"])["Transaction_ID"].count().reset_index()
df_5_transfer

        Customer_Name Transfered_date  Transaction_ID
0      Aachal Acharya      2025-01-21               1
1      Aachal Acharya      2025-01-23               1
2      Aachal Acharya      2025-01-25               1
3      Aachal Agarwal      2025-01-03               1
4      Aachal Agarwal      2025-01-25               1
...               ...             ...             ...
99591      Zinal Vora      2025-01-28               1
99592     Zinal Wason      2025-01-03               1
99593     Zinal Wason      2025-01-29               1
99594      Zinal Yogi      2025-01-17               1
99595      Zinal Yogi      2025-01-23               1

[99596 rows x 3 columns]

In [ ]:
# We assume that if a customer do 3 transactions in 5 days, we mark that he or she perform fraud transaction.

def mark_fraud(group):    
    group = group.set_index("Transfered_date")

    group["Transaction_count"] = group.rolling("5D").count()["Transaction_ID"]

    group["Fraud"] = group["Transaction_count"] >= 3
    
    return group


df_5_transfer = df_5_transfer.groupby("Customer_Name", group_keys=False).apply(mark_fraud)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_2540\588304204.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_5_transfer = df_5_transfer.groupby("Customer_Name", group_keys=False).apply(mark_fraud)

In [94]:
Name_of_customer_of_fraud_transaction = df_5_transfer[df_5_transfer["Fraud"]]["Customer_Name"].tolist()

print("Fraud transaction customer:",Name_of_customer_of_fraud_transaction)

Fraud transaction customer: ['Aachal Acharya', 'Aadhya Boase', 'Aadhya Rajagopal', 'Aahana Kala', 'Aarnav Anand', 'Aarnav Barad', 'Aayush Gupta', 'Aayush Patel', 'Abeer Nagar', 'Abha Karnik', 'Abha Karnik', 'Abha Manda', 'Abhiram Puri', 'Aditya Banerjee', 'Advaith Kaul', 'Adya Jani', 'Adya Luthra', 'Agastya Hans', 'Agastya Nair', 'Agastya Nair', 'Agastya Varughese', 'Aishani Kala', 'Akshay Chahal', 'Alexander Bhardwaj', 'Alka Bora', 'Alka Patla', 'Amaira Shroff', 'Amaira Tella', 'Amrita Minhas', 'Amrita Subramanian', 'Amrita Suresh', 'Amruta Dani', 'Amruta Dugar', 'Amruta Salvi', 'Anay Bumb', 'Anika Kala', 'Anika Srinivas', 'Anirudh Vora', 'Anirudh Vora', 'Anita Rajagopalan', 'Anita Rajagopalan', 'Anjali Datta', 'Anjali Vig', 'Anmol Narang', 'Anmol Narang', 'Ansh Vasa', 'Anusha Dixit', 'Anusha Ghosh', 'Anvi Oommen', 'Anvi Wali', 'Aradhana Padmanabhan', 'Aradhana Sha', 'Arunima Kala', 'Arunima Palla', 'Arya Ramaswamy', 'Aryan Bobal', 'Ati Ahluwalia', 'Ayaan Dhillon', 'Ayush Gade', 'Ayush Savant', 'Ayushman Deep', 'Azaan Aurora', 'Azaan Suri', 'Bachittar Edwin', 'Baghyawati Loyal', 'Bahadurjit Bawa', 'Bahadurjit Pathak', 'Bakhshi Kumar', 'Balendra Peri', 'Balendra Srivastava', 'Balendra Srivastava', 'Balendra Wali', 'Balhaar Bhatt', 'Baljiwan Varty', 'Balveer Mane', 'Banjeet Anand', 'Banjeet Bassi', 'Barkha Ghosh', 'Benjamin Borde', 'Benjamin Dave', 'Bhanumati Kara', 'Bhavani Bera', 'Bhavani Mander', 'Bhavani Talwar', 'Bhavini Kala', 'Bhavini Suri', 'Bhavna Din', 'Bhavna Din', 'Bhavna Murthy', 'Bhavya Puri', 'Bimala Wable', 'Bina Chaudhari', 'Bina Kanda', 'Bishakha Dara', 'Bishakha Mani', 'Bishakha Patla', 'Brijesh Chaudhary', 'Brijesh Patla', 'Brijesh Srinivas', 'Brijesh Sunder', 'Brinda Sule', 'Caleb Dugar', 'Chaaya Shetty', 'Chaaya Thakur', 'Chaitanya Kuruvilla', 'Chakradev Ahuja', 'Chakradev Bahri', 'Chakradev Baria', 'Chakradhar Dhar', 'Chakradhar Patla', 'Chakradhar Sur', 'Chakrika Karpe', 'Chaman Dugal', 'Chameli Chacko', 'Chameli Sethi', 'Chameli Shukla', 'Champak Gole', 'Chanakya Ganesan', 'Chanchal Sarma', 'Chandani Pingle', 'Chandran Tella', 'Charan Bahri', 'Charan Wali', 'Charles Sahni', 'Charvi Pillai', 'Chasmum Comar', 'Chavvi Kala', 'Dakshesh Doshi', 'Damini Sachar', 'Damyanti Gera', 'Daniel Sha', 'Darpan Narula', 'Darpan Raghavan', 'Darpan Raghavan', 'Darsh Baral', 'Darsh Kamdar', 'Dayamai Bora', 'Dayita Kapur', 'Dayita Kumer', 'Dev Dugar', 'Devansh Ganguly', 'Devansh Jayaraman', 'Devansh Lanka', 'Devika Keer', 'Dhriti Gill', 'Dipta Bora', 'Dipta Brar', 'Dipta Wable', 'Divya Butala', 'Dominic Dube', 'Dominic Joshi', 'Eiravati Bora', 'Eiravati Kapadia', 'Eiravati Kulkarni', 'Ekani Goel', 'Ekani Palla', 'Ekani Varma', 'Ekansh Bajwa', 'Ekansh Sethi', 'Ekansh Walla', 'Ekantika Badami', 'Ekantika Nadig', 'Ekapad Karpe', 'Ekaraj Goyal', 'Ekaraj Srivastava', 'Ekaraj Tak', 'Ekiya Dua', 'Eta Prabhu', 'Falan Barad', 'Falan Singhal', 'Fariq Chandra', 'Faris Dara', 'Finn Chopra', 'Finn Sur', 'Fitan Pau', 'Fiyaz Sibal', 'Forum Deo', 'Forum Tella', 'Forum Wali', 'Frado Nagy', 'Frado Suresh', 'Gabriel Goswami', 'Gagan Mahajan', 'Gaurang Contractor', 'Gaurang Narang', 'Gaurang Shenoy', 'Gaurangi Patla', 'Gaurav Roy', 'Gaurav Wadhwa', 'Gauri Kala', 'Gauri Sharaf', 'Gaurika Wason', 'Gautami Balakrishnan', 'Gautami Palan', 'Gautami Palan', 'Gayathri Barad', 'George Bhattacharyya', 'George Bhattacharyya', 'George Dhar', 'George Ganesan', 'Girik Dhar', 'Girindra Munshi', 'Girish Krishnamurthy', 'Girish Rama', 'Guneet Sule', 'Guneet Thakkar', 'Hardik Bala', 'Hardik Loyal', 'Harinakshi Balasubramanian', 'Harinakshi Chandran', 'Harinakshi Keer', 'Harinakshi Loke', 'Harini Shukla', 'Harini Vala', 'Harita Minhas', 'Harrison Pradhan', 'Harrison Sani', 'Harsh Dara', 'Harsh Dara', 'Harsh Palla', 'Harshil Kala', 'Hemal Sami', 'Hemang Barad', 'Hemang Borde', 'Hemangini Atwal', 'Hemangini Choudhary', 'Hemangini Choudhary', 'Hemangini Gala', 'Hemangini Mani', 'Hemani Keer', 'Henry Badal', 'Hiral Dutta', 'Hiral Kapur', 'Hitesh Hayre', 'Hritik Nayak', 'Ijaya Madan', 'Ijaya Madan', 'Imaran Batta', 'Imaran Wagle', 'Indira Hari', 'Indira Kari', 'Ira Venkataraman', 'Irya Wadhwa', 'Isaac Banerjee', 'Ishaan Bora', 'Ishani Din', 'Ishanvi Parsa', 'Ishita Gour', 'Ishwar Amble', 'Jack Dar', 'Jack Mand', 'Jackson Tank', 'Jagat Din', 'Jagdish Barad', 'Jagdish Bora', 'Jagdish Yogi', 'Jagvi Dalal', 'Jai Sastry', 'Jai Sastry', 'Jairaj Shah', 'Jalsa Bose', 'Janaki Varty', 'Janani Chandra', 'Janani Khare', 'Janya Nagy', 'Jasmit Bains', 'Jasmit Pandey', 'Jason Buch', 'Jatin Karnik', 'Jeet Ganesh', 'Jeet Manda', 'Jeet Manda', 'Jeremiah Savant', 'Jhalak Dubey', 'Jhalak Mukherjee', 'Jonathan Bava', 'Jonathan Palla', 'Kabir Parikh', 'Kalpit Dhar', 'Kamya Chander', 'Kamya Grover', 'Kamya Nadig', 'Kamya Shankar', 'Kashish Kothari', 'Kashish Raval', 'Kashish Sani', 'Keya Pillay', 'Kiaan Subramanian', 'Krish Munshi', 'Krish Shankar', 'Krisha Khatri', 'Krisha Ravel', 'Krishna Nair', 'Krishna Nori', 'Krishna Nori', 'Krishna Nori', 'Krishna Sani', 'Krishna Sani', 'Krishna Sani', 'Krishna Vaidya', 'Kritika Parikh', 'Kritika Parikh', 'Laban Bath', 'Laban Dewan', 'Ladli Jaggi', 'Ladli Sarkar', 'Lajita Balay', 'Lajita Chaudhry', 'Lakshmi Bora', 'Lakshmi Narayanan', 'Lakshmi Shukla', 'Lavanya Kanda', 'Leela Buch', 'Leela Narayan', 'Leela Venkataraman', 'Lekha Mani', 'Liam Saran', 'Libni Ganesh', 'Lila Dara', 'Lila Dutt', 'Lila Dutt', 'Lila Dutt', 'Lipika Bumb', 'Lucky Mangal', 'Lucky Mangal', 'Lucky Modi', 'Luke Kapadia', 'Luke Kapadia', 'Luke Lanka', 'Maanas Vohra', 'Maanav Borra', 'Maanav Seshadri', 'Madhav Kala', 'Madhav Kale', 'Madhav Oak', 'Mahika Tara', 'Mahika Tella', 'Manan Balay', 'Manan Basak', 'Manan Modi', 'Manan Saini', 'Maya Butala', 'Megha Kari', 'Megha Tara', 'Meghana Kapoor', 'Meghana Wali', 'Mekhala Bawa', 'Mitali Lad', 'Mitali Lad', 'Mitali Soni', 'Mitesh Munshi', 'Nachiket Biswas', 'Nachiket Dave', 'Nachiket Kala', 'Nachiket Palla', 'Nachiket Som', 'Nachiket Som', 'Naksh Dara', 'Nakul Dewan', 'Nandini Kala', 'Naveen Bains', 'Naveen Vyas', 'Neel Sheth', 'Neelima Kakar', 'Neelima Kala', 'Netra Bhasin', 'Nicholas Anand', 'Nidhi Khatri', 'Nidhi Palla', 'Nihal Grover', 'Niharika Shroff', 'Nikita Bandi', 'Nikita Dada', 'Nikita Dora', 'Nikita Sagar', 'Nilima Chakrabarti', 'Nimrat Goyal', 'Nisha Dhar', 'Nisha Radhakrishnan', 'Nitara Patla', 'Nitara Sheth', 'Nitara Wable', 'Nitesh Wali', 'Noah Naik', 'Noah Saraf', 'Odika Kala', 'Odika Kala', 'Oeshi Sanghvi', 'Ojasvi Hayer', 'Oliver Bala', 'Oliver Bala', 'Omaja Verma', 'Omisha Dhillon', 'Omisha Vasa', 'Omisha Wali', 'Onkar Dugar', 'Onkar Merchant', 'Onveer Lalla', 'Onveer Sawhney', 'Orinder Taneja', 'Orinder Taneja', 'Oscar Bora', 'Osha Swaminathan', 'Osha Viswanathan', 'Oviya Dhar', 'Owen Kale', 'Pahal Jha', 'Pahal Mani', 'Panini Palla', 'Parth Mistry', 'Pavani Oza', 'Pavani Wali', 'Peter Sarraf', 'Pranav Kapoor', 'Pranav Solanki', 'Praneel Sarkar', 'Pranit De', 'Pratyush Merchant', 'Prisha Kala', 'Prisha Kala', 'Priya Bhavsar', 'Priya Dhaliwal', 'Pushti Baria', 'Pushti Baria', 'Pushti Narasimhan', 'Qabil Ahuja', 'Qadim Kala', 'Qarin Madan', 'Qasim Dash', 'Qasim Maharaj', 'Qasim Prabhu', 'Qasim Setty', 'Quincy Babu', 'Quincy Dar', 'Quincy Wali', 'Qushi Lad', 'Qushi Madan', 'Raagini Dara', 'Rachana Barad', 'Rachana Dixit', 'Rachana Iyer', 'Rachit Wali', 'Rachita Borah', 'Rachita Rajagopal', 'Radhika Dara', 'Radhika Sarin', 'Raghav Grewal', 'Rajata Rout', 'Rajata Sama', 'Rajata Srinivasan', 'Raksha Bal', 'Raksha Doctor', 'Ranbir Chhabra', 'Ranveer Hans', 'Ranveer Oza', 'Ranveer Ramakrishnan', 'Ranveer Trivedi', 'Reva Dugar', 'Reyansh Kala', 'Reyansh Shankar', 'Reyansh Tata', 'Ria Suri', 'Ridhi Brar', 'Rishi Aurora', 'Rishi Krishnamurthy', 'Rishi Palla', 'Rishi Patla', 'Robert Garde', 'Robert Khatri', 'Rohan Shere', 'Ronith Nori', 'Ronith Suri', 'Ryan Sethi', 'Sachi Bedi', 'Sachi Shroff', 'Sai Batta', 'Sai Gour', 'Sai Mani', 'Sai Mani', 'Sai Puri', 'Saksham Mitra', 'Saksham Shanker', 'Samaksh Kala', 'Samarth Buch', 'Samarth Ram', 'Samesh Dani', 'Sara Bhasin', 'Sara Krishna', 'Sara Sarna', 'Sarthak Dave', 'Sathvik Kale', 'Shaurya Chana', 'Shaurya Kala', 'Shaurya Keer', 'Shaurya Wali', 'Shivani Choudhry', 'Shivani Singh', 'Shivani Tank', 'Shivansh Ahluwalia', 'Shivansh Dhar', 'Shravya Sama', 'Shravya Wali', 'Siddharth Baria', 'Siya Mander', 'Sudiksha Patla', 'Suhani Ganguly', 'Suhani Halder', 'Suhani Master', 'Tanish Chaudhry', 'Tanveer Dara', 'Tanveer Patla', 'Tanveer Zacharia', 'Tanvi Sood', 'Tanvi Venkatesh', 'Tarak Dugar', 'Teerth Iyer', 'Teerth Saran', 'Tejas Ratti', 'Timothy Hans', 'Tripti Ratti', 'Triveni Gola', 'Ubika Goel', 'Ubika Kala', 'Ubika Yogi', 'Udarsh Kapur', 'Udarsh Pillay', 'Udyati Anand', 'Udyati Chandra', 'Umang Aggarwal', 'Unnati Kadakia', 'Unni Nayar', 'Unni Sidhu', 'Urishilla Pall', 'Urishilla Palla', 'Urishilla Parsa', 'Urishilla Ramakrishnan', 'Urvashi Chadha', 'Urvashi Pal', 'Urvashi Pal', 'Urvashi Ravel', 'Urvashi Solanki', 'Utkarsh Koshy', 'Utkarsh Lall', 'Utkarsh Ravi', 'Vamakshi Borde', 'Vanya Contractor', 'Vanya Nagarajan', 'Vanya Nazareth', 'Vasana Chacko', 'Vasatika Keer', 'Vasatika Patla', 'Vasatika Rajagopal', 'Vasatika Saini', 'Vasudha Bala', 'Vasudha Bora', 'Vasudha Bora', 'Vasudha Roy', 'Vasudha Thaker', 'Vedant Pingle', 'Vedhika Patla', 'Vedika Gole', 'Vedika Gole', 'Vedika Madan', 'Veer Loke', 'Veer Vasa', 'Veer Vora', 'Vidhi Dua', 'Vinaya Contractor', 'Vinaya Sarma', 'Viraj Sangha', 'Viraj Sangha', 'Vivaan Amble', 'Vivaan Das', 'Vrinda Dutt', 'Vrinda Dutt', 'Vritti Jha', 'Vritti Kala', 'Waida Jain', 'Wakeeta Gulati', 'Warda Dâ€™Alia', 'Warhi Wali', 'Watika Guha', 'Watika Patla', 'Wazir Shah', 'William Chand', 'William Khare', 'Wishi Gara', 'Wishi Hayer', 'Wishi Thakkar', 'Wriddhish Ranganathan', 'Wridesh Bawa', 'Wridesh Kapur', 'Wridesh Rama', 'Wyatt Bala', 'Wyatt Kumer', 'Xalak Keer', 'Xiti Khurana', 'Xiti Khurana', 'Xiti Sampath', 'Yachana Kadakia', 'Yachana Mitra', 'Yadavi Biswas', 'Yagnesh Kapadia', 'Yagnesh Keer', 'Yash Dara', 'Yash Talwar', 'Yash Talwar', 'Yashasvi Varma', 'Yashawini Sathe', 'Yashodhara Saraf', 'Yashodhara Sibal', 'Yashvi Barad', 'Yasti Dixit', 'Yatan Kapoor', 'Yatin Varma', 'Yochana Nayak', 'Yug Khare', 'Yutika Mangat', 'Yutika Shroff', 'Yuvraj Das', 'Zaid Bora', 'Zaitra Tella', 'Zansi Murty', 'Zarna Badal', 'Zarna Lata', 'Zarna Lata', 'Zarna Lata', 'Zashil Ganguly', 'Zayyan Kala', 'Zehaan Warrior', 'Zilmil Chaudry', 'Zilmil Gupta', 'Zilmil Oommen', 'Zinal Dhillon']

In [96]:
df_5["Fraud"] = df_5["Customer_Name"].apply(lambda x: True if x in Name_of_customer_of_fraud_transaction else False)
df_5[["Customer_Name","Fraud"]]

              Customer_Name  Fraud
0                Osha Tella  False
1           Hredhaan Khosla  False
2            Ekani Nazareth  False
3       Yamini Ramachandran  False
4              Kritika Rege  False
...                     ...    ...
199995        Vedhika Magar  False
199996            Aashi Pai  False
199997          Dayita Shan  False
199998          Unnati Vyas  False
199999           Gopal Rout  False

[200000 rows x 2 columns]

### Exercise 4: File Handling and Reporting
- Generate a summary report of fraudulent transactions and save it to a JSON file.
- Create a function that reads the JSON report and prints key insights.

- **Topics:** File I/O, JSON handling, saving structured reports
- **Resources:**
  - [Python File Handling](https://realpython.com/read-write-files-python/)
  - [Working with JSON in Python](https://realpython.com/python-json/)
  - [Generating and Parsing Reports in Pandas](https://towardsdatascience.com/how-to-generate-reports-with-python-and-pandas-166fdfaf0df4)

### **Exercise 5: Improve Fraud Detection using Data Patterns**
- **Topics:** Fraud detection, anomaly detection, historical analysis
- **Resources:**
  - [Introduction to Fraud Detection with Python](https://www.kaggle.com/datasets/ntnu-testimon/paysim1)
  - [Scikit-learn Outlier Detection Techniques](https://scikit-learn.org/stable/modules/outlier_detection.html)
  - [Building a Machine Learning-Based Fraud Detection System](https://towardsdatascience.com/credit-card-fraud-detection-using-machine-learning-726ed4e3b3af)
  - [Anomaly Detection in Pandas](https://towardsdatascience.com/anomaly-detection-in-python-part-1-49b65b0522dc)